HumanTalentSena/__pycache__
HumanTalentSena/static/python/__pycache__
env
usuarios/__pycache__
usuarios/migrations/__pycache__
hoja_vida/__pycache__
hoja_vida/migrations/__pycache__
administradores/__pycache__
administradores/migrations/__pycache__
empresa/__pycache__
empresa/migrations/__pycache__
Archivo_Educacion
