{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de vida</title>
    <link rel="stylesheet" href="{%static 'css/hoja_vida.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
</head>

<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HUMAN TALENT</div>
    </div>

    <div class="capa"></div>

    <nav>
        <div class="barra">
            <div class="content">
                <a href="{%url 'index'%}">
                <p class="p1">HUMAN TALENT <br> Hoja De Vida</p>
                </a>
            </div>

        </div>
    </nav>
    <main>
        <div class="info">
            <form action="{% url 'save_info' %}" method="post">
                {% csrf_token %}
                <p class="titulo1">Información Personal</p>

                <label for="nombre" class="infop" >Nombre</label>
                {{form_info.Nombre}}

                <label for="apellido" class="infop" id="ape">Apellidos</label>
                {{form_info.Apellido}}
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                {{form_info.Direccion}}

                <label for="cel" class="infop">Nºcelular</label>
                {{form_info.Celular}}
                <br>
                <br>
                <label for="email" class="infop">Correo</label>
                {{form_info.Email}}

                <label for="fechan" class="infop" id="fecha">fecha de nacimiento</label>
                {{form_info.Fecha}}
                <br>
                <br>
                <label for="tpod" class="infop">Tipo de documento</label>
                {{form_info.Tipod}}


                <label for="ncc" class="infop" id="doc">Nº de documento</label>
                {{form_info.N_documento}}
                <br>
                <br>
                <label for="genero" class="infop">Genero</label>
                {{form_info.Genero}}

                <label for="edad" class="infop" id="ed">Edad</label>
                {{form_info.Edad}}

                <label for="civil" class="infop" id="estado">Estado civil</label>
                {{form_info.Civil}}
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <button type="submit">Guardar</button>
            </form>
        </div>

        <div class="info" >
            <div>
                <form action="{% url 'save_educacion'%}" method="post" enctype="multipart/form-data" id="edu">
                    {% csrf_token %}
                    <p class="titulo1">Educación</p>

                    {% for form in form_edu %}
                        <p class="titulo2">Institucion</p>
                        <label for="titulo" class="infop">Titulo obtenido</label>
                        {{ form.Archivo }}

                        <label for="cole" class="infop" id="col">Institución</label>
                        {{form.Nombre_Instituto}}
                        <br>
                        <br>
                        <label for="añ" class="infop">Año de gradución</label>
                        {{form.Ano_graduacion}}

                        <label for="tim" class="infop" id="tie">timpo en la institucion</label>
                        {{form.Tiempo}}
                        <br>
                        <br>
                        <br>
                    {% endfor %}
            </div>
                        <p class="titulo2">No olvide guardar sus datos </p>
                        <a href="#" class="titulo1" id="agregar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Agregar</a>
                        <button type="submit">Guardar</button>
                    <div>
                </form>
            </div>
        </div>

            <div class="info" >
                <div id="edu1">
                <form action="#"> {% csrf_token %}
                    <p class="titulo1">Experiencia laboral</p>

                    <p class="titulo2">Empresa</p>

                    <label for="emp" class="infop">Empresa</label>
                    {{form_empresa.Nombre_empresa}}

                    <label for="car" class="infop" id="car">Cargo</label>
                    {{form_empresa.Cargo}}
                    <br>
                    <br>
                    <label for="fechai" class="infop">Fecha de inicio</label>
                    {{form_empresa.Fecha_Inicio}}

                    <label for="fechaf" class="infop">Fecha de FInalización</label>
                    {{form_empresa.Fecha_Finalizacion}}
                    <br>
                    <br>
                    <label for="dsr" class="infop">Describa sus fuciones</label>
                    {{form_empresa.Funciones}}
                    <br>
                    <br>
                    <br>
                </div>
                    <div>
                        <p class="titulo2">No olvide guardar sus datos </p>
                            <a href="#" class="titulo1" id="agregar1" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Agregar</a>
                            <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Guardar</a>
                    </div>
            </div>





            <div class="info">
                <p class="titulo1">Otros datos</p>

                <p class="titulo2">Referencias personales</p>

                <label for="nombre" class="infop" >Nombre</label>
                {{form_person.Nombre_person}}

                <label for="apellido" class="infop" id="ape">Apellidos</label>
                {{form_person.Apellido_person}}
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                {{form_person.Direccion}}

                <label for="cel" class="infop">Nºcelular</label>
                {{form_person.N_celular}}
                <br>
                <br>
                <br>
                <p class="titulo2">Referencias personales</p>

                <label for="nombre" class="infop" >Nombre</label>
                {{form_person.Nombre_person}}

                <label for="apellido" class="infop" id="ape">Apellidos</label>
                {{form_person.Apellido_person}}
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                {{form_person.Direccion}}

                <label for="cel" class="infop">Nºcelular</label>
                {{form_person.N_celular}}
                <br>
                <br>
                <br>
                <p class="titulo2">Referencias empresariales</p>

                <label for="empr" class="infop" >Empresa</label>
                {{form_empresarial.Nombre_Empresa}}

                <label for="nombref" class="infop" id="ape">Nombre jefe</label>
                {{form_empresarial.Nombre_Jefe}}

                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                {{form_empresarial.Direccion}}

                <label for="tel" class="infop" id="telf">Nºtelefono</label>
                {{form_empresarial.N_celular}}
                <br>
                <br>
                <br>

                <label for="empr" class="infop" >Empresa</label>
                {{form_empresarial.Nombre_Empresa}}

                <label for="nombref" class="infop" id="ape">Nombre jefe</label>
                {{form_empresarial.Nombre_Jefe}}

                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                {{form_empresarial.Direccion}}

                <label for="tel" class="infop" id="telf">Nºtelefono</label>
                {{form_empresarial.N_celular}}
                <br>
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ;">Guardar</a>
            </div>


            <div class="info">
                <p class="titulo1">Informacion adicional</p>
                <br>
                {{form_person.Inforamcion_adi}}
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <a href="#" class="titulo1" id="guardar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ;">Guardar</a>
            </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/static/js/loader.js"></script>
        <script src="/static/js/agregaempresa.js"></script>
        <script>
            const contenedor = document.querySelector('#edu');
            const btnAgregar = document.querySelector('#agregar');

            // Counter variable
            let total = 1;

            // Function to add new form
            btnAgregar.addEventListener('click', (event) => {
            event.preventDefault();

            const newForm = document.createElement('div');
            newForm.innerHTML = `
                <p class="titulo2">Institución</p>
                <label for="titulo" class="infop">Titulo obtenido</label>
                {{form_edu_in.Archivo }}
                <label for="cole" class="infop" id="col">Institución</label>
                {{form_edu_in.Nombre_Instituto}}
                <br>
                <br>
                <label for="añ" class="infop">Año de gradución</label>
                {{form_edu_in.Ano_graduacion}}
                <label for="tim" class="infop" id="tie">timpo en la institucion</label>
                {{form_edu_in.Tiempo}}
                <br>
                <br>
                <br>
                </form>
                <button onclick="eliminar(this)"style="
                background-color: red;
                border-color: black;
                border-radius: 15px;
                font-size: 16px;
                font-weight: bold;
                color: white;
                padding: 10px;
                cursor: pointer;
                ">Eliminar</button>
            `;

            contenedor.appendChild(newForm);
            });

            // Function to remove form
            function eliminar(element) {
            const parentNode = element.parentNode;
            contenedor.removeChild(parentNode);
            actualizarContador();
            };

            // Function to update counter
            function actualizarContador() {
            const forms = contenedor.children;
            total = 1;

            for (let i = 0; i < forms.length; i++) {
                forms[i].children.innerHTML = total++;
            }
            };

        </script>

        </form>
    </main>
</body>
